
mixin addPlugin(name)
    //- leaflet plugins
    script(src='libs/plugins/' + name ) 
    
mixin addCSS(name)
    //- leaflet plugins
    link(rel="stylesheet" href='libs/plugins/' + name)

mixin list(classLI,classA,href,name)
    li(class=classLI)
        a(class=classA href=href)=name
        
mixin link(classA,href,name)
    a(class=classA href=href)=name

mixin dropdown()
    a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Dropdown

mixin tabs_bootstrap(classLI,classA,name,tab,bool)
    - var idA = name + "-tab"
    - var ref = "#" + name

    li(class=classLI)
        a(class=classA href=ref role=roleA id=idA data-toggle="tab" aria-controls=name aria-expanded=bool)=tab

mixin tabs_jquery(name,tab)
    - var ref = "#" + name

    li
        a(href=ref)
            span=tab
            
mixin tabs_content(name)
    div(id=name)
        
mixin test()
    ul
        each val, index in {1:'one',2:'two',3:'three'}
            li= index + ': ' + val

mixin leg(layers)
    - var index = 0
        for name, id in layers
            - var ID = "leg_" + id
            - var NM = name
            - var ref = "img/"  +   id  + ".svg"    
            div(id=ID class='leg' rel="#{index++}")
                h4
                    p=NM 
                    img(src=ref alt=NM)


mixin table(layers)
    - var index = 0
    for name, id in layers
        - var ID = "tbl_" + id
        - var NM = name
        - var ref = "html/"  +   id  + ".html"    
        div(id=ID class='tbl' rel="#{index++}")
            h4
                p=NM 
                iframe(src=ref)

mixin accorde(section,sort,layers)
    .group
        - var index = 0
        h3=section
        div(id=sort)
            for name, id in layers
                - var ID = id
                - var NM = name
                div(id=ID class='draggable')
                    li
                        input(type="checkbox" value=ID class="boxlayer" checked='false' rel="#{index++}")
                        label(for=ID)
                            span=NM
                
mixin legend_boot(section,sort,layers)
    - var index = 0
    for name, id in layers
        - var ID = "leg_" + id
        - var heading = "leg_" + id
        - var collapse = "leg_col_" + id
        - var ref_collapse = "#leg_col_" + id
        - var NM = name
        - var ref = "img/"  +   id  + ".svg"
        div(id=ID class="leg" role="tablist" aria-multiselectable="true")
            .panel.panel-default
                .panel-heading.collapsed(role="tab" id=heading rel="#{index++}")
                    h3.panel-title
                        a(data-toggle="collapse" data-parent="#accordion" href=ref_collapse aria-expanded="true" aria-controls=ID class="accordion-toggle")=NM        
            div(id=collapse class="panel-collapse collapse in" role="tabpanel" aria-labelledby=heading )
                img(src=ref alt=NM)
            
mixin table_boot(section,sort,layers)
    - var index = 0
    for name, id in layers
        - var ID = "tbl_" + id
        - var heading = "tbl_" + id
        - var collapse = "tbl_col_" + id
        - var ref_collapse = "#tbl_col_" + id
        - var NM = name
        - var ref = "html/"  +   id  + ".html"
        div(id=ID class="tbl" role="tablist" aria-multiselectable="true")
            .panel.panel-default
                .panel-heading.collapsed(role="tab" id=heading rel="#{index++}")
                    h3.panel-title                    
                        a(data-toggle="collapse" data-parent="#accordion" href=ref_collapse aria-expanded="true" aria-controls=ID)=NM        
            div(id=collapse class="panel-collapse collapse in" role="tabpanel" aria-labelledby=heading )
                iframe(src=ref)
                            
mixin mk_table
    .table.table-striped
        thead
            tr
                th="Land Cover"
                th="Corine"         
