
mixin addPlugin(name)
    //- leaflet plugins
    script(src='libs/plugins/' + name ) 
    
mixin addCSS(name)
    //- leaflet plugins
    link(rel="stylesheet" href='libs/plugins/' + name)

mixin list(classLI,classA,href,name)
    li(class=classLI)
        a(class=classA href=href)=name
        
mixin link(classA,href,name)
    a(class=classA href=href)=name

mixin dropdown()
    a(class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Dropdown

mixin tabs(classLI,classA,name,tab,bool)
    - var idA = name + "-tab"
    - var ref = "#" + name

    li(class=classLI)
        a(class=classA href=ref role=roleA id=idA data-toggle="tab" aria-controls=name aria-expanded=bool)=tab

mixin test()
    ul
        each val, index in {1:'one',2:'two',3:'three'}
            li= index + ': ' + val
        
mixin accordeon(section,layers)
    .group
        h3=section
        div
            for name, id in layers
                - var ID = id
                - var NM = name
                div(id=ID class='draggable')
                    li
                        input(type="checkbox" value=ID checked='false')
                        label(for=ID)= NM
